@using ListenAndWrite.Models;
@using PagedList.Mvc;
@*định nghĩa kiểu dữ liệu cho biến Model*@
@model PagedList.IPagedList<chude>

@{
    ViewBag.Title = "Levels";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<link href="~/Content/NguoiDungCssLayout/pageLevels.css" rel="stylesheet" />
<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#337AB7; color:white; text-align: center;">
        <h4>LEVELS</h4>
    </div>
    <div class="row-item row">
        <div class="col-md-12" style="margin-bottom: 20px;">
            <br />
            @Html.Action("NumBerPartial", "Levels")
        </div>
        
        <div class="col-md-12" style="min-height: 650px;">
            @{
                /**/

                foreach (var item in Model)
                {
                    <div class="item">
                        <h4 class="title"><a href="@Url.Action("xemchitiet", "audio", new { @id=item.idChuDe})">♫ @item.chuDe ♫</a></h4>
                        <p>
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-play-circle"></span> www.listen-and-write.com,
                            <font color="#2e0cfa">level = @item.levels</font>, about one day ago
                        </p>
                    </div>
                    <div class="break"></div>
                }
            }

            <div style="text-align: center;">
                @Html.PagedListPager(Model, page => Url.Action("levels", new { level = Model[0].levels, page = page }))
                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/ @Model.PageCount
            </div>
        </div>
    </div>
</div>
