@using ListenAndWrite.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<audio>
@{
    ViewBag.Title = "Listen New More";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<link href="~/Content/NguoiDungCssLayout/pageNewMore.css" rel="stylesheet" />
<div class="panel panel-default">
    <div class="row-item row">
        <div class="col-md-12" style="min-height: 700px;">
            <div id="maincontent">
                <div id="content">
                    <br />
                    <div style="float:left; width:110px;height:110px; border: 6px solid #DDDDDD; background:RGB(120,188,100);">
                        <br />
                        <center><a href="/audio/level/10" style="color: #000000;background-color: RGB(120,188,100);font-weight:bold;font-size:1.6em;">Level<br />@Model[0].chudes.levels</a></center>
                    </div>
                    <h1 style="margin-left:65px;">
                        &nbsp; @Model[0].chudes.chuDe
                    </h1>
                    <br />
                    <br />
                    <br />
                    <div id="player2" style="border:2px solid #dddddd; padding-bottom:10px;" align="center">
                        <br>
                        <br>
                        <div id="sentence_list">
                            <div align="center">
                                <style>
                                    .pagination > li > a, .pagination > li > span {
                                        border: none;
                                        padding: 0 12px 0 12px;
                                    }

                                    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
                                        background-color: #808080;
                                        border-color: #428bca;
                                    }

                                    .pagination > li:last-child > a, .pagination > li:last-child > span {
                                        border-radius: 4px;
                                    }
                                </style>
                                <b style="color: blue; font-size: 20px;"> Track <span id="track">@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)</span></b>
                                @Html.PagedListPager(Model, track => Url.Action("ListenNewMore", new { id = Model[0].idChuDe, track = track }))
                            </div>
                            <br>
                            <div>
                                @{ 
                                    foreach (var item in Model)
                                    {
                                    <table border="0">
                                        <tr>
                                            <td width="20" align=right></td>
                                            <td>
                                                <audio id="music" preload="true" loop>
                                                    <source src="@Url.Content("~/fileAudio/"+@item.url)" type="audio/mpeg">
                                                </audio>
                                                <div style="overflow: hidden;position: relative;height:190px;">
                                                    <div id="timeline">
                                                        <div id="playhead"></div>
                                                    </div>

                                                    <div id="slimprogress" style="width:525px; height:3px;"></div>
                                                    <textarea class="input" id="text1" style="display: none;">@item.text</textarea>
                                                    <textarea class="input" cols="38" rows="3" id="audioScriptTmode">Enter text in here</textarea>
                                                    <div id="audioplayer">
                                                        <div id="pButton" class="play"></div>
                                                    </div>
                                                </div>
                                                <br>
                                                <center id="finish">
                                                    <span class="button xLarge icon">
                                                        <span class="check"></span>
                                                        <button type="button" class="run">Check</button>
                                                    </span>
                                                    <br />
                                                    <span id="alertmsg"></span>
                                                </center>
                                                <br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <br />
                                                <div id="answer" class="output">
                                                    
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                    }
                                }
                                
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p>
                        <center>
                            <br />
                            <h4>
                                Please login to save your score and to see your history. >>
                                <a href="dangnhap.html">Login</a>
                            </h4>
                            <image src="~/Images/sample_scores2.png" alt="sample scores">
                        </center>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/NguoiDungJs/myDiff.js"></script>
<script>
    var music = document.getElementById('music');
    var duration = music.duration;
    var pButton = document.getElementById('pButton');
    var playhead = document.getElementById('playhead');
    var timeline = document.getElementById('timeline');

    var timelineWidth = timeline.offsetWidth - playhead.offsetWidth;

    pButton.addEventListener("click", play);

    music.addEventListener("timeupdate", timeUpdate, false);

    timeline.addEventListener("click", function (event) {
        moveplayhead(event);
        music.currentTime = duration * clickPercent(event);
    }, false);

    function clickPercent(event) {
        return (event.clientX - getPosition(timeline)) / timelineWidth;
    }

    function timeUpdate() {
        var playPercent = timelineWidth * (music.currentTime / duration);
        playhead.style.marginLeft = playPercent + "px";
        if (music.currentTime == duration) {
            pButton.className = "";
            pButton.className = "play";
        }
    }

    //Play and Pause
    function play() {
        // start music
        music.play();
        $("#pButton").css({ 'display': 'none' });
    }

    music.addEventListener("canplaythrough", function () {
        duration = music.duration;
    }, false);

    function getPosition(el) {
        return el.getBoundingClientRect().left;
    }

    var tmp = document.getElementById('track').innerText;

    if (Number(tmp) < @Model.PageCount){
        var track = Number(tmp) + 1;
    } else {
        var track = @Model.PageCount;
        alert("Chủ đề cuối!")
    }
       
    //Diff
    var run = document.querySelector(".run"),
        input = document.querySelectorAll(".input"),
        output = document.querySelector(".output");
    run.addEventListener("click", function () {
        output.innerHTML = diffString(input[1].value, input[0].value) + "<center style='margin: 10px 0 10px 0;'> <span class='button xLarge icon'><button type='button' onclick='listenAgain()' style='padding: 0 3px 0 3px; font-size: 18px;'> <span class='glyphicon glyphicon-refresh' style='font-size: 14px; color: #808080;'></span> Listen Again</button></span>&nbsp; &nbsp;<span class='button xLarge icon'><a href='?track="+track+"' style='background: #eeeeee; padding: 7px; border: 1px solid #7c7c7c; font-size: 18px;'>Next Track <span class='glyphicon glyphicon-plus' style='font-size: 14px; color: #009900;'></span></a></span></center>";
    });

    function listenAgain() {
        music.currentTime = 0;
        music.play();
    }
</script>