@model ListenAndWrite.Models.chude

@{
    ViewBag.Title = "ThemMoiChuDe";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>ThemMoiChuDe</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>chude</h4>
        <hr />
        @Html.ValidationSummary(false)
        <div class="form-group">
            @Html.LabelFor(model => model.chuDe, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.chuDe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.chuDe, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(model => model.levels, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.levels, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.levels, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
